.FourthImage {
  justify-content: center;
  align-items: center;
  /* width:100%; */
  max-width: 100%;
  height: auto;
}

.FourthImage-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.FourthImage-header {
  background-color: #282c34;
  /* display: flex; */
  /* width:100%; */
  max-width: 100%;
  height: auto;
}

.FourthImage-header > img {
  background-color: #282c34;
  /* display: flex; */
  /* width:100%; */
  max-width: 100%;
  height: auto;
}

.FourthImage-link {
  color: #61dafb;
}
